**Name:** Mehrshad Eshaghianpour

**Group:** 1

**Task: _Q5 & Q8_**

<span class="hljs-section" style="color: black; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border: 0px; font-weight: 700; font-family: Consolas, &quot;Andale Mono WT&quot;, &quot;Andale Mono&quot;, &quot;Lucida Console&quot;, &quot;Lucida Sans Typewriter&quot;, &quot;DejaVu Sans Mono&quot;, &quot;Bitstream Vera Sans Mono&quot;, &quot;Liberation Mono&quot;, &quot;Nimbus Mono L&quot;, Monaco, &quot;Courier New&quot;, Courier, monospace; vertical-align: baseline; outline: 0px; white-space: pre;">Q5</span>

<span style="color: rgb(0, 128, 0);">-- 5</span>

<span style="color: rgb(0, 128, 0);">-- Write a query against the HR.Employees table that returns employees</span>

<span style="color: rgb(0, 128, 0);">-- with a last name that starts with a lower case letter.</span>

<span style="color: rgb(0, 128, 0);">-- Remember that the collation of the sample database</span>

<span style="color: rgb(0, 128, 0);">-- is case insensitive (Latin1_General_CI_AS).</span>

<span style="color:  rgb(0, 128, 0);">-- For simplicity, you can assume that only English letters are used.</span>

<span style="color: rgb(0, 128, 0)">-- in the employee last names.</span>

<span style="color: rgb(0, 128, 0)">-- Tables involved: HR.Employees table.</span>

<span style="color: rgb(0, 128, 0)">-- Desired output is an empty set:</span>

<span style="color: rgb(0, 128, 0)">empid     lastname</span>

<span style="color: rgb(0, 128, 0)">-------     ---------------</span>

- **Proposition:**
    
    - The proposition in this query is expressed in the WHERE clause
        
    - `lastname COLLATE Latin1\_General\_BIN LIKE N'[a-z]%'`
        
    - This proposition filters the rows from the HR.Employees table based on a condition applied to the 'lastname' column
        
    - It uses the LIKE operator to find rows where the 'lastname' starts with any lowercase letter from 'a' to 'z'
        
- **Table:**
    
    - The table involved is `HR.Employees`
- **Columns:**
    
    - Columns selected in the query are `empid`, and `lastname`
    
    - These columns represent the Employee ID, last name, respectively, from the `HR.Employees` table

- **Predicate:**
    
    - The predicate is the condition specified in the WHERE clause
        
    - `lastname COLLATE Latin1\_General\_BIN LIKE N'[a-z]%'`
        
    - The predicate is checkiing if the 'lastname' column, when case-sensitive, starts with any lowercase letter form 'a'-'z'
        
    - This condition filters the rows based on the specified pattern using the LIKE operator

In [ ]:
USE TSQLV4

SELECT
       empid,
       lastname
FROM
       HR.Employees
WHERE
       lastname COLLATE Latin1_General_BIN LIKE N'[a-z]%';
       

USE Northwinds2022TSQLV7

SELECT
       EmployeeId,
       EmployeeLastName
FROM
       HumanResources.Employee
WHERE
       EmployeeLastName COLLATE Latin1_General_BIN LIKE N'[a-z]%';

<span class="hljs-section" style="color: black; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border: 0px; font-weight: 700; font-family: Consolas, &quot;Andale Mono WT&quot;, &quot;Andale Mono&quot;, &quot;Lucida Console&quot;, &quot;Lucida Sans Typewriter&quot;, &quot;DejaVu Sans Mono&quot;, &quot;Bitstream Vera Sans Mono&quot;, &quot;Liberation Mono&quot;, &quot;Nimbus Mono L&quot;, Monaco, &quot;Courier New&quot;, Courier, monospace; vertical-align: baseline; outline: 0px; white-space: pre;">Q8</span>

<span style="color: rgb(0, 128, 0);">-- 8</span>

<span style="color: rgb(0, 128, 0);">-- Calculate row numbers for orders</span>

<span style="color: rgb(0, 128, 0);">-- based on order date ordering (using order id as tiebreaker).</span>

<span style="color: rgb(0, 128, 0);">-- for each customer separately</span>

<span style="color: rgb(0, 128, 0);">-- Tables involved: Sales.Orders table.</span>

<span style="color: rgb(0, 128, 0);">-- Desired output:</span>

<span style="color: green;">custid&nbsp; &nbsp; &nbsp; orderdate&nbsp; orderid&nbsp; &nbsp; &nbsp;rownum</span>

<span style="color: rgb(0, 128, 0);">----------- ---------- ----------- --------------------</span>

<span style="color: rgb(0, 128, 0);">1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2015-08-25 10643&nbsp; &nbsp; &nbsp; &nbsp;1</span>

<span style="color: rgb(0, 128, 0);">1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2015-10-03 10692&nbsp; &nbsp; &nbsp; &nbsp;2</span>

<span style="color: rgb(0, 128, 0);">1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2015-10-13 10702&nbsp; &nbsp; &nbsp; &nbsp;3</span>

<span style="color: rgb(0, 128, 0);">1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2016-01-15 10835&nbsp; &nbsp; &nbsp; &nbsp;4</span>

<span style="color: rgb(0, 128, 0);">1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2016-03-16 10952&nbsp; &nbsp; &nbsp; &nbsp;5</span>

<span style="color: rgb(0, 128, 0);">1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2016-04-09 11011&nbsp; &nbsp; &nbsp; &nbsp;6</span>

<span style="color: rgb(0, 128, 0);">2&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2014-09-18 10308&nbsp; &nbsp; &nbsp; &nbsp;1</span>

<span style="color: rgb(0, 128, 0);">2&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2015-08-08 10625&nbsp; &nbsp; &nbsp; &nbsp;2</span>

<span style="color: rgb(0, 128, 0);">2&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2015-11-28 10759&nbsp; &nbsp; &nbsp; &nbsp;3</span>

<span style="color: rgb(0, 128, 0);">2&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2016-03-04 10926&nbsp; &nbsp; &nbsp; &nbsp;4</span>

<span style="color: rgb(0, 128, 0);">...</span>

(<span style="color: #09885a;">830</span> <span style="color: #0000ff;">row</span>(s) affected)

- **Proposition:**
    
    - The proposition can be inferred from the `ROW_NUMBER()` function and by the use of `OVER (PARTITION BY custid ORDER BY orderdate, orderid) AS rownum`

- **Table:**
    
    - The table involved is <span style="font-size: 12px;"><code>Sales.Orders</code></span>

- **Columns:**
    
    - Columns selected in the query are `custid, orderdate`, and <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">orderid</span>
        
    - These columns represent the Customer ID, Order Date, and Order ID respectively, from the `Sales.Orders` table
        
- **Predicate:**
    
    - The predicate here is by using the `ROW_NUMBER()` <span style="color: var(--vscode-foreground);">function and by the use of</span> `OVER (PARTITION BY custid ORDER BY orderdate, orderid) AS rownum`

In [ ]:
USE TSQLV4

SELECT
	custid,
	orderdate,
    orderid,
    ROW_NUMBER() OVER (PARTITION BY custid ORDER BY orderdate, orderid) AS rownum
FROM
	Sales.Orders
ORDER BY
	custid,
    rownum;

USE Northwinds2022TSQLV7

SELECT
	CustomerId,
	OrderDate,
    Orderid,
    ROW_NUMBER() OVER (PARTITION BY CustomerId ORDER BY OrderDate, Orderid) AS rownum
FROM
	Sales.[Order]
ORDER BY
	CustomerId,
    rownum;

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

<span style="color: rgb(0, 128, 0);">-- Elements of the SELECT Statement</span>

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

<span style="color: rgb(0, 128, 0);">-- Listing 2-1: Sample Query</span>

- **Proposition:**
    
    - The proposition is in the `WHERE` clause
        
    - It implies that `custid` from the `Sales.Orders` table must equal to 71 for the rows to be included in the result set
        
- **Table:**
    
    - The table involved is <span style="font-size: 12px;"><code>Sales.Orders</code></span>.
- **Columns:**
    
    - Columns selected in the query are `empid, orderdate,` and <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">custid</span>
        
    - The column `orderdate,` <span style="color: var(--vscode-foreground);">is aliased as <code>orderyear</code> and the column <code>numorders</code>&nbsp;is aliased from the count of the rows&nbsp;<code>COUNT(*) AS numorders</code>&nbsp;</span>
        
- **Predicate:**
    
    - The predicate is in the `WHERE` clause
        
    - `custid = 71` is the predicate, where `custid` is the column being compared to the constant value 71

In [ ]:
USE TSQLV4;

SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY empid, orderyear;

USE Northwinds2022TSQLV7;

SELECT EmployeeId, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY EmployeeId, orderyear;

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

<span style="color: rgb(0, 128, 0);">-- The FROM Clause</span>

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

- **Proposition:**
    
    - The proposition is implied by the `FROM` clause
        
    - It implies that the data should be selected from the `Sales.Orders` table
        
- **Table:**
    
    - The table involved is <span style="font-size: 12px;"><code>Sales.Orders</code></span>.
- **Columns:**
    
    - Columns selected in the query are `orderid, custid, empid, orderdate,` and `freight`
- **Predicate:**
    
    - There are no predicated stated here, which means all the rows from `Sales.Orders` will be used

In [ ]:
USE TSQLV4;

SELECT orderid, custid, empid, orderdate, freight
FROM Sales.Orders;

USE Northwinds2022TSQLV7;

SELECT orderid, CustomerId, EmployeeId, orderdate, freight
FROM Sales.[Order];

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

<span style="color: rgb(0, 128, 0);">-- The GROUP BY Clause</span>

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

- **Proposition:**
    
    - The proposition is in the `WHERE` clause

    - It implies that `custid` from the `Sales.Orders` table must equal to 71 for the rows to be included in the result set
        
- **Table:**
    
    - The table involved is <span style="font-size: 12px;"><code>Sales.Orders</code></span>

- **Columns:**
    
    - Columns selected in the query are `empid, orderdate, freight` and `custid`

    - `empid` is the EmployeeID associated with each order. Used by the `SELECT` and `GROUP BY` clauses to group the results by employee ID

    - `orderdate` is the date when the order was made. Used to extract the year from the order date with the `YEAR()` function. Also used by the `GROUP BY` clause to group the results by year

    - `freight` is the frieight cost associated with each order. Used by the `SELECT` statement to calculate the total cost using the `SUM()` function

    - `custid` is the CustomerID associated with each order. Used in the `WHERE` clause to filter orders by a specific customer ID

- **Predicate:**
    
    - The predicate is in the `WHERE` clause

    - `custid = 71` is the predicate, where `custid` is the column being compared to the constant value 71

In [ ]:
USE TSQLV4;

SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);

SELECT
  empid,
  YEAR(orderdate) AS orderyear,
  SUM(freight) AS totalfreight,
  COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);

/*
SELECT empid, YEAR(orderdate) AS orderyear, freight
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);
*/

SELECT 
  empid, 
  YEAR(orderdate) AS orderyear, 
  COUNT(DISTINCT custid) AS numcusts
FROM Sales.Orders
GROUP BY empid, YEAR(orderdate);

USE Northwinds2022TSQLV7;

SELECT EmployeeId, YEAR(orderdate) AS orderyear
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate);

SELECT
  EmployeeId,
  YEAR(orderdate) AS orderyear,
  SUM(freight) AS totalfreight,
  COUNT(*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate);

/*
SELECT EmployeeId, YEAR(orderdate) AS orderyear, freight
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate);
*/

SELECT 
  EmployeeId, 
  YEAR(orderdate) AS orderyear, 
  COUNT(DISTINCT CustomerId) AS numcusts
FROM Sales.[Order]
GROUP BY EmployeeId, YEAR(orderdate);

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

<span style="color: rgb(0, 128, 0);">-- The HAVING Clause</span>

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

- **Proposition:**
    
    - The proposition is in the `WHERE` clause
        
    - It implies that `custid` <span style="color: var(--vscode-foreground);">from the</span> `Sales.Orders` <span style="color: var(--vscode-foreground);">table must equal to 71 for the rows to be included in the result set</span>
        
- **Table:**
    
    - The table involved is <span style="font-size: 12px;"><code>Sales.Orders</code></span>
- **Columns:**
    
    - Columns selected in the query are `empid,` and `orderdate`
        
    - The column `orderdate` is is derived using the `YEAR( )` function and is aliased as `orderyear`
        
- **Predicate:**
    
    - The predicate here is in the `WHERE` and `HAVING` clause

    - `WHERE custid = 71` filters the rows were the `custid` column is equal to 71
    
    - `HAVING COUNT(*) > 1` filters the groups of rows where the count is greater than 1 in each group

In [ ]:
USE TSQLV4;

SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1;

USE Northwinds2022TSQLV7;

SELECT EmployeeId, YEAR(orderdate) AS orderyear
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate)
HAVING COUNT(*) > 1;

<span style="color: rgb(0, 128, 0);">--------------------------------------------------------------------</span>

<span style="color: rgb(0, 128, 0);">-- NULLs</span>

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

- **Proposition:**
    
    - The proposition is in the `WHERE` clause
        
    - `region = N'WA'` returns customers located in the WA region
        
    - `region <> N'WA'` returns customers located in regions other than WA
        
    - `region = NULL` returns nothing because it is not a valid comparison
        
    - `region IS NULL` returns customers whose region value is `NULL`
        
    - `region <> N'WA' OR region IS NULL` returns customers located in regions other than WA including those regions whose value is `NULL`
        
- **Table:**
    
    - The table involved is <span style="font-size: 12px;"><code>Sales.Customers</code></span>

- **Columns:**
    
    - Columns selected in the query are `custid, country, region,` and `city`
        
- **Predicate:**
    
    - The predicate here is in the `WHERE` clause
        
    - `region = N'WA'` 
        
    - `region <> N'WA'` 
        
    - `region = NULL` 
        
    - `region IS NULL` 
        
    - `region <> N'WA' OR region IS NULL`

In [ ]:
USE TSQLV4;

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = N'WA';

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region <> N'WA';

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = NULL;

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region IS NULL;

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region <> N'WA'
   OR region IS NULL;

USE Northwinds2022TSQLV7;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion = N'WA';

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion <> N'WA';

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion = NULL;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion IS NULL;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion <> N'WA'
   OR CustomerRegion IS NULL;