**Name:** Mehrshad Eshaghianpour

**Group:** 1

**Tasks:** 

<details> <summary>Subqueries Excersises</summary>

-  <kbd>Q3</kbd>
-  <kbd>Q4</kbd>

</details>

<details> <summary>Subqueries</summary>

-  <kbd>Correlated Subqueries</kbd>
-  <kbd>Substitution Error in a Subquery Column</kbd>

</details>

<details> <summary>Table Expression Excecises</summary>

-  <kbd>Q3.1</kbd>
-  <kbd>Q3.2</kbd>

</details>

<details> <summary>Table Expressions</summary>

-  <kbd>Derived Tables</kbd>
-  <kbd>Assigning Column Aliases</kbd>
-  <kbd>Using Arguments</kbd>
-  <kbd>Multiple Refrences</kbd>
-  <kbd>Common Table Expressions</kbd>

</details>

<span class="hljs-section" style="color:black;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;border:0px;font-weight:700;font-family:Consolas, &quot;Andale Mono WT&quot;, &quot;Andale Mono&quot;, &quot;Lucida Console&quot;, &quot;Lucida Sans Typewriter&quot;, &quot;DejaVu Sans Mono&quot;, &quot;Bitstream Vera Sans Mono&quot;, &quot;Liberation Mono&quot;, &quot;Nimbus Mono L&quot;, Monaco, &quot;Courier New&quot;, Courier, monospace;vertical-align:baseline;outline:0px;white-space:pre;">Q3</span>

<span style="color:rgb(0, 128, 0);">-- 3</span>

<span style="color:rgb(0, 128, 0);">-- Write a query that returns employees</span>

<span style="color:rgb(0, 128, 0);">-- who did not place orders on or after May 1st, 2022</span>

<span style="color:rgb(0, 128, 0);">-- Tables involved: TSQLV6 database, Employees and Orders tables</span>

<span style="color:rgb(0, 128, 0);">-- Desired output:</span>

| empid | firstname | lastname |
| :-: | :-: | :-: |
| 3 | Judy | Lew |
| 5 | Sven | Mortensen |
| 6 | Paul | Suurs |
| 9 | Patricia | Doyle |

<span style="color:rgb(0, 128, 0);">(4 rows affected)</span>

- **Proposition:**
    
    - The proposition is to retreive employee formation for those employees who haven't placed any orders after May 1st, 2022, from the `HR.Employees` table
        
- **Table:**
    
    - `HR.Employees`
        
- **Columns:**
    
    - Columns selected in the query are `empid, firstname,` and `lastname`

- **Predicate:**
    
    - The predicate is the condition specified in the outer `WHERE` clause
        
    - `WHERE empid NOT IN` checks whether the empid from the `HR.Employees` table is not present in the result set of the subquery. 
        
    - The subquery itself selects `empid` from the `Sales.Orders` table where the orderdate is greater than or equal to May 1st, 2022 ('20220501').
        
**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
USE TSQLV6

SELECT empid, firstname, lastname
FROM HR.Employees
WHERE empid NOT IN
  (SELECT O.empid
FROM Sales.Orders AS O
WHERE O.orderdate >= '20220501')

USE Northwinds2022TSQLV7

SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeId NOT IN
  (SELECT O.EmployeeId
FROM Sales.[Order] AS O
WHERE O.orderdate >= '20220501')

<span class="hljs-section" style="color:black;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;border:0px;font-weight:700;font-family:Consolas, &quot;Andale Mono WT&quot;, &quot;Andale Mono&quot;, &quot;Lucida Console&quot;, &quot;Lucida Sans Typewriter&quot;, &quot;DejaVu Sans Mono&quot;, &quot;Bitstream Vera Sans Mono&quot;, &quot;Liberation Mono&quot;, &quot;Nimbus Mono L&quot;, Monaco, &quot;Courier New&quot;, Courier, monospace;vertical-align:baseline;outline:0px;white-space:pre;">Q4</span>

<span style="color:rgb(0, 128, 0);">-- 4</span>

<span style="color:rgb(0, 128, 0);">-- Write a query that returns</span>

<span style="color:rgb(0, 128, 0);">-- countries where there are customers but not employees</span>

<span style="color:rgb(0, 128, 0);">-- Tables involved: TSQLV6 database, Customers and Employees tables</span>

<span style="color:rgb(0, 128, 0);">-- Desired output</span>

| country |
| :-: |
| Argentina |
| Austria |
| Belgium |
| Brazil |
| Canada |
| Denmark |
| Finland |
| France |
| Germany |
| Ireland |
| Italy |
| Mexico |
| Norway |
| Poland |
| Portugal |
| Spain |
| Sweden |
| Switzerland |
| Venezuela |

- **Proposition:**
    
    - The proposition in this query is expressed in the `WHERE` clause
        
    - `WHERE country NOT IN`
        
    - Whether each country listed in the `Sales.Customers` table is not included in the list of countries found in the `HR.Employees` table.
        
- **Table:**
    
    - `Sales.Customers` aliased as `C`
        
    - `HR.Employees` aliased as `E`
        
- **Columns:**
    
    - Columns selected in the query are `country`
- **Predicate:**
    
    - `country NOT IN (SELECT E.country FROM HR.Employees AS E)` filters the rows from the `Sales.Customers` table
    - Checks whether the value in the `country` column of the `Sales.Customers` table is not present in the list of countries obtained from the subquery that selects countries from the `HR.Employees` table

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
USE TSQLV6

SELECT DISTINCT country
FROM Sales.Customers
WHERE country NOT IN
    (SELECT E.country
FROM HR.Employees AS E)

USE Northwinds2022TSQLV7

SELECT DISTINCT CustomerCountry
FROM Sales.Customer
WHERE CustomerCountry NOT IN
    (SELECT E.EmployeeCountry
FROM HumanResources.Employee AS E)


<span style="color: rgb(0, 128, 0);">-----------------------</span>

<span style="color: rgb(0, 128, 0);">-- Correlated Subqueries</span>

<span style="color: rgb(0, 128, 0);">-----------------------</span>

- **Proposition:**
    
    - The proposition in this query is to retrieve the `custid, orderid, orderdate` and `empid` of orders from the `Sales.Orders` table where the `orderid` is equal to the maximum `orderid` associated with the same `custid`
        
- **Table:**
        
    - `Sales.Orders` aliased as `O1` and `O2`
    
- **Columns:**
    
    - Columns selected in the query are `custid, orderid, orderdate` and `empid` 
        
- **Predicate:**
    
    - `orderid = (SELECT MAX(O2.orderid) FROM Sales.Orders AS O2 WHERE O2.custid = O1.custid)`
    
    - Filters the rows from the `Sales.Orders table` where the `orderid` matches the maximum `orderid` obtained from the subquery
    
    - The subquery retrieves the maximum `orderid` from the `Sales.Orders` table where the `custid` s the same as the `custid` from the outer query

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
-- Orders with maximum order ID for each customer
-- Listing 4-1: Correlated Subquery
USE TSQLV6;

SELECT custid, orderid, orderdate, empid
FROM Sales.Orders AS O1
WHERE orderid =
  (SELECT MAX(O2.orderid)
FROM Sales.Orders AS O2
WHERE O2.custid = O1.custid);

SELECT MAX(O2.orderid)
FROM Sales.Orders AS O2
WHERE O2.custid = 85;

-- Percentage of customer total
SELECT orderid, custid, val,
  CAST(100. * val / (SELECT SUM(O2.val)
  FROM Sales.OrderValues AS O2
  WHERE O2.custid = O1.custid)
       AS NUMERIC(5,2)) AS pct
FROM Sales.OrderValues AS O1
ORDER BY custid, orderid;

--- Orders with maximum order ID for each customer
-- Listing 4-1: Correlated Subquery
USE Northwinds2022TSQLV7;

SELECT CustomerId, orderid, orderdate, EmployeeId
FROM Sales.[Order] AS O1
WHERE orderid =
  (SELECT MAX(O2.orderid)
FROM Sales.[Order] AS O2
WHERE O2.CustomerId = O1.CustomerId);

SELECT MAX(O2.orderid)
FROM Sales.[Order] AS O2
WHERE O2.CustomerId = 85;

-- Percentage of customer total
SELECT orderid, CustomerId, val,
  CAST(100. * val / (SELECT SUM(O2.val)
  FROM Sales.OrderValues AS O2
  WHERE O2.CustomerId = O1.CustomerId)
       AS NUMERIC(5,2)) AS pct
FROM Sales.OrderValues AS O1
ORDER BY CustomerId, orderid;

<span style="color: rgb(0, 128, 0);">-----------------------</span>

<span style="color: rgb(0, 128, 0);">-- Substitution Error in a Subquery Column Name </span>

<span style="color: rgb(0, 128, 0);">-----------------------</span>

- **Proposition:**
    
    - The proposition is in the `WHERE` clause
        
    - `shipper_id IN (SELECT shipper_id FROM Sales.Orders WHERE custid = 43)`

    - Checks whether the `shipper_id` from the `Sales.MyShippers` table is present in the subquery result, which selects `shipper_id` from `Sales.Orders` where `custid` is equal to 43
        
- **Table:**
    
    - `Sales.Myshippers`
        
    - `Sales.Orders` aliased as `O` 
        
- **Columns:**
    
    - Columns selected in the query are `shipper_id` and `companyname`
        
- **Predicate:**
    
    - The proposition is in the `WHERE` clause
        
    - `shipper_id IN (SELECT shipper_id FROM Sales.Orders WHERE custid = 43)`

    - Checks whether the `shipper_id` from the `Sales.MyShippers` table is present in the subquery result, which selects `shipper_id` from `Sales.Orders` where `custid` is equal to 43

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
-- Customers and their orders, including customers with no orders
USE TSQLV6

-- Create and populate table Sales.MyShippers
DROP TABLE IF EXISTS Sales.MyShippers;

CREATE TABLE Sales.MyShippers
(
  shipper_id INT NOT NULL,
  companyname NVARCHAR(40) NOT NULL,
  phone NVARCHAR(24) NOT NULL,
  CONSTRAINT PK_MyShippers PRIMARY KEY(shipper_id)
);

INSERT INTO Sales.MyShippers
  (shipper_id, companyname, phone)
VALUES(1, N'Shipper GVSUA', N'(503) 555-0137'),
  (2, N'Shipper ETYNR', N'(425) 555-0136'),
  (3, N'Shipper ZHISN', N'(415) 555-0138');

-- Shippers who shipped orders to customer 43

-- Bug
SELECT shipper_id, companyname
FROM Sales.MyShippers
WHERE shipper_id IN
  (SELECT shipper_id
FROM Sales.Orders
WHERE custid = 43);

-- The safe way using aliases, bug identified
SELECT shipper_id, companyname
FROM Sales.MyShippers
WHERE shipper_id IN
  (SELECT O.orderid
FROM Sales.Orders AS O
WHERE O.custid = 43);

-- Bug corrected
SELECT shipper_id, companyname
FROM Sales.MyShippers
WHERE shipper_id IN
  (SELECT O.shipperid
FROM Sales.Orders AS O
WHERE O.custid = 43);

-- Cleanup

DROP TABLE IF EXISTS Sales.MyShippers;

-- Customers and their orders, including customers with no orders
USE Northwinds2022TSQLV7

-- Create and populate table Sales.MyShippers
DROP TABLE IF EXISTS Sales.MyShippers;

CREATE TABLE Sales.MyShippers
(
  shipper_id INT NOT NULL,
  companyname NVARCHAR(40) NOT NULL,
  phone NVARCHAR(24) NOT NULL,
  CONSTRAINT PK_MyShippers PRIMARY KEY(shipper_id)
);

INSERT INTO Sales.MyShippers
  (shipper_id, companyname, phone)
VALUES(1, N'Shipper GVSUA', N'(503) 555-0137'),
  (2, N'Shipper ETYNR', N'(425) 555-0136'),
  (3, N'Shipper ZHISN', N'(415) 555-0138');

-- Shippers who shipped orders to customer 43

-- Bug
SELECT shipper_id, companyname
FROM Sales.MyShippers
WHERE shipper_id IN
  (SELECT shipper_id
FROM Sales.[Order]
WHERE CustomerId = 43);

-- The safe way using aliases, bug identified
SELECT shipper_id, companyname
FROM Sales.MyShippers
WHERE shipper_id IN
  (SELECT O.orderid
FROM Sales.[Order] AS O
WHERE O.CustomerId = 43);

-- Bug corrected
SELECT shipper_id, companyname
FROM Sales.MyShippers
WHERE shipper_id IN
  (SELECT O.shipperid
FROM Sales.[Order] AS O
WHERE O.CustomerId = 43);

-- Cleanup

DROP TABLE IF EXISTS Sales.MyShippers;

<span class="hljs-section" style="color:black;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;border:0px;font-weight:700;font-family:Consolas, &quot;Andale Mono WT&quot;, &quot;Andale Mono&quot;, &quot;Lucida Console&quot;, &quot;Lucida Sans Typewriter&quot;, &quot;DejaVu Sans Mono&quot;, &quot;Bitstream Vera Sans Mono&quot;, &quot;Liberation Mono&quot;, &quot;Nimbus Mono L&quot;, Monaco, &quot;Courier New&quot;, Courier, monospace;vertical-align:baseline;outline:0px;white-space:pre;">Q3.1</span>

<span style="color:rgb(0, 128, 0);">-- 3.1</span>

<span style="color:rgb(0, 128, 0);">-- Write a query that calculates a row number for each order</span>

<span style="color:rgb(0, 128, 0);">-- based on orderdate, orderid ordering</span>

<span style="color:rgb(0, 128, 0);">-- Tables involved: Sales.Orders</span>

<span style="color:rgb(0, 128, 0);">-- Desired output</span>

| orderid | orderdate | custid | empid | rownum |
| :-: | :-: | :-: | :-: | :-: |
| 10248 | 2020-07-04 | 85 | 5 | 1
| 10249 | 2020-07-05 | 79 | 6 | 2
| 10250 | 2020-07-08 | 34 | 4 | 3
| 10251 | 2020-07-08 | 84 | 3 | 4
| 10252 | 2020-07-09 | 76 | 4 | 5
| 10253 | 2020-07-10 | 34 | 3 | 6
| 10254 | 2020-07-11 | 14 | 5 | 7
| 10255 | 2020-07-12 | 68 | 9 | 8
| 10256 | 2020-07-15 | 88 | 3 | 9
| 10257 | 2020-07-16 | 35 | 4 | 10

<span style="color:rgb(0, 128, 0);">(830 rows affected)</span>

- **Proposition:**
    
    - There are no propositions in this query
        
- **Table:**
    
    - `Sales.Orders`
        
- **Columns:**
    
    - Columns selected in the query are `orderid, orderdate, custid,` and `empid`

- **Predicate:**

    - There are no predicates in this query
    
**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
USE TSQLV6

SELECT orderid, orderdate, custid, empid,
    ROW_NUMBER() OVER(ORDER BY orderdate, orderid) AS rownum
FROM Sales.Orders

USE Northwinds2022TSQLV7

SELECT OrderId, OrderDate, CustomerId, EmployeeId,
    ROW_NUMBER() OVER(ORDER BY orderdate, orderid) AS rownum
FROM Sales.[Order]

<span class="hljs-section" style="color:black;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;border:0px;font-weight:700;font-family:Consolas, &quot;Andale Mono WT&quot;, &quot;Andale Mono&quot;, &quot;Lucida Console&quot;, &quot;Lucida Sans Typewriter&quot;, &quot;DejaVu Sans Mono&quot;, &quot;Bitstream Vera Sans Mono&quot;, &quot;Liberation Mono&quot;, &quot;Nimbus Mono L&quot;, Monaco, &quot;Courier New&quot;, Courier, monospace;vertical-align:baseline;outline:0px;white-space:pre;">Q3.2</span>

<span style="color:rgb(0, 128, 0);">-- 3.2</span>

<span style="color:rgb(0, 128, 0);">-- Write a query that returns rows with row numbers 11 through 20</span>

<span style="color:rgb(0, 128, 0);">-- based on the row number definition in exercise 3-1</span>

<span style="color:rgb(0, 128, 0);">-- Use a CTE to encapsulate the code from exercise 3-1</span>

<span style="color:rgb(0, 128, 0);">-- Tables involved: Sales.Orders</span>

<span style="color:rgb(0, 128, 0);">-- Desired output</span>

| orderid | orderdate | custid | empid | rownum |
| :-: | :-: | :-: | :-: | :-: |
| 10258 | 2020-07-17 | 20 | 1 | 11 |
| 10259 | 2020-07-18 | 13 | 4 | 12 |
| 10260 | 2020-07-19 | 56 | 4 | 13 |
| 10261 | 2020-07-19 | 61 | 4 | 14 |
| 10262 | 2020-07-22 | 65 | 8 | 15 |
| 10263 | 2020-07-23 | 20 | 9 | 16 |
| 10264 | 2020-07-24 | 24 | 6 | 17 |
| 10265 | 2020-07-25 | 7  | 2 | 18 |
| 10266 | 2020-07-26 | 87 | 3 | 19 |
| 10267 | 2020-07-29 | 25 | 4 | 20 |

<span style="color:rgb(0, 128, 0);">(10 rows affected)</span>

- **Proposition:**
    
    - The propositions in this query is in the `WHERE` clause

    - `rownum BETWEEN 11 AND 20`

    - Filters the result set to include only rows where the row number falls within 11 and 20
        
- **Table:**
    
    - `Sales.Orders`
        
- **Columns:**
    
    - Columns selected in the query are `orderid, orderdate, custid,` and `empid`

- **Predicate:**

    - The propositions in this query is in the `WHERE` clause

    - `rownum BETWEEN 11 AND 20`

    - Filters the result set to include only rows where the row number falls within 11 and 20

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
USE TSQLV6;

WITH
    OrdersRN
    AS
    (
        SELECT orderid, orderdate, custid, empid,
            ROW_NUMBER() OVER(ORDER BY orderdate, orderid) AS rownum
        FROM Sales.Orders
    )
SELECT *
FROM OrdersRN
WHERE rownum BETWEEN 11 AND 20;

USE Northwinds2022TSQLV7;

WITH
    OrdersRN
    AS
    (
        SELECT OrderId, OrderDate, CustomerId, EmployeeId,
            ROW_NUMBER() OVER(ORDER BY orderdate, orderid) AS rownum
        FROM Sales.[Order]
    )
SELECT *
FROM OrdersRN
WHERE rownum BETWEEN 11 AND 20;

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

<span style="color:rgb(0, 128, 0);">-- Derived Tables</span>

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

- **Proposition:**
    
    - There are no propositions in this query
        
- **Table:**
    
    - `Sales.Customers`
        
- **Columns:**
    
    - Columns selected in the query are `custid` and `companyname`

- **Predicate:**

    - The predicate in this query is in the `WHERE` clause

    - `country = N'USA'`

    - Checks whether the value in the country column of the `Sales.Customers` table is equal to the string literal 'USA'

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
USE TSQLV6;

SELECT *
FROM (SELECT custid, companyname
    FROM Sales.Customers
    WHERE country = N'USA') AS USACusts;

USE Northwinds2022TSQLV7;

SELECT *
FROM (SELECT CustomerId, CustomerCompanyName
    FROM Sales.Customer
    WHERE CustomerCountry = N'USA') AS USACusts;

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

<span style="color:rgb(0, 128, 0);">-- Assigning Column Aliases</span>

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

- **Proposition:**
    
    - The proposition is to return the count of distinct customers `numcusts` for each year `orderyear` based on the orders placed
        
- **Table:**
    
    - `Sales.Orders`
        
- **Columns:**
    
    - Columns selected in the query are `orderdate` and `custid`

- **Predicate:**

    - The is no specific predicate in this query

    - A predicate is implied in the `FROM` clause, where it selects data from the `Sales.Orders`

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
-- Following fails
/*
SELECT
  YEAR(orderdate) AS orderyear,
  COUNT(DISTINCT custid) AS numcusts
FROM Sales.Orders
GROUP BY orderyear;
*/

USE TSQLV6

-- Listing 5-1 Query with a Derived Table using Inline Aliasing Form
SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM (SELECT YEAR(orderdate) AS orderyear, custid
    FROM Sales.Orders) AS D
GROUP BY orderyear;

SELECT YEAR(orderdate) AS orderyear, COUNT(DISTINCT custid) AS numcusts
FROM Sales.Orders
GROUP BY YEAR(orderdate);

-- External column aliasing
SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM (SELECT YEAR(orderdate), custid
    FROM Sales.Orders) AS D(orderyear, custid)
GROUP BY orderyear;
GO

USE Northwinds2022TSQLV7

-- Listing 5-1 Query with a Derived Table using Inline Aliasing Form
SELECT orderyear, COUNT(DISTINCT CustomerId) AS numcusts
FROM (SELECT YEAR(orderdate) AS orderyear, CustomerId
    FROM Sales.[Order]) AS D
GROUP BY orderyear;


SELECT YEAR(orderdate) AS orderyear, COUNT(DISTINCT CustomerId) AS numcusts
FROM Sales.[Order]
GROUP BY YEAR(orderdate);

-- External column aliasing
SELECT orderyear, COUNT(DISTINCT CustomerId) AS numcusts
FROM (SELECT YEAR(orderdate), CustomerId
    FROM Sales.[Order]) AS D(orderyear, CustomerId)
GROUP BY orderyear;
GO

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

<span style="color:rgb(0, 128, 0);">-- Using Arguments</span>

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

- **Proposition:**
    
    - The proposition is to return a yearly breakdown of the count of unique customers handled by Employee 3 from the `Sales.Orders` table
        
- **Table:**
    
    - `Sales.Orders`
        
- **Columns:**
    
    - Columns selected in the query are `empid`

- **Predicate:**

    -  The predicate is in the `WHERE` clause
    
    - `empid = @empid` filters the rows from the `Sales.Orders` table where the empid column matches the value stored in the variable @empid

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
USE TSQLV6

-- Yearly Count of Customers handled by Employee 3
DECLARE @empid AS INT = 3;

SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM (SELECT YEAR(orderdate) AS orderyear, custid
    FROM Sales.Orders
    WHERE empid = @empid) AS D
GROUP BY orderyear;
GO

USE Northwinds2022TSQLV7

-- Yearly Count of Customers handled by Employee 3
DECLARE @empid AS INT = 3;

SELECT orderyear, COUNT(DISTINCT CustomerId) AS numcusts
FROM (SELECT YEAR(orderdate) AS orderyear, CustomerId
    FROM Sales.[Order]
    WHERE EmployeeId = @empid) AS D
GROUP BY orderyear;
GO

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

<span style="color:rgb(0, 128, 0);">-- Multiple References</span>

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

- **Proposition:**
    
    - The proposition is to calculate the growth in the number of customers between two consecutive years based on the orders placed
        
- **Table:**
    
    - `Sales.Orders`
        
- **Columns:**
    
    - Columns selected in the query are `orderdate` and `custid`

- **Predicate:**

    -  The predicate is in the `ON` clause
    
    - `Cur.orderyear = Prv.orderyear + 1`

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
USE TSQLV6

-- Listing 5-3 Multiple Derived Tables Based on the Same Query
SELECT Cur.orderyear,
    Cur.numcusts AS curnumcusts, Prv.numcusts AS prvnumcusts,
    Cur.numcusts - Prv.numcusts AS growth
FROM (SELECT YEAR(orderdate) AS orderyear,
        COUNT(DISTINCT custid) AS numcusts
    FROM Sales.Orders
    GROUP BY YEAR(orderdate)) AS Cur
    LEFT OUTER JOIN
    (SELECT YEAR(orderdate) AS orderyear,
        COUNT(DISTINCT custid) AS numcusts
    FROM Sales.Orders
    GROUP BY YEAR(orderdate)) AS Prv
    ON Cur.orderyear = Prv.orderyear + 1;

USE Northwinds2022TSQLV7

-- Listing 5-3 Multiple Derived Tables Based on the Same Query
SELECT Cur.orderyear,
    Cur.numcusts AS curnumcusts, Prv.numcusts AS prvnumcusts,
    Cur.numcusts - Prv.numcusts AS growth
FROM (SELECT YEAR(orderdate) AS orderyear,
        COUNT(DISTINCT CustomerId) AS numcusts
    FROM Sales.[Order]
    GROUP BY YEAR(orderdate)) AS Cur
    LEFT OUTER JOIN
    (SELECT YEAR(orderdate) AS orderyear,
        COUNT(DISTINCT CustomerId) AS numcusts
    FROM Sales.[Order]
    GROUP BY YEAR(orderdate)) AS Prv
    ON Cur.orderyear = Prv.orderyear + 1;

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

<span style="color:rgb(0, 128, 0);">-- Common Table Expressions</span>

<span style="color:rgb(0, 128, 0);">-----------------------------</span>

- **Proposition:**
    
    -  The proposition is in the `WHERE` clause
    
    - `country = N'USA'` filters the rows from the `Sales.Customers` table where the country column is equal to 'USA'
        
- **Table:**
    
    - `Sales.Customers`
        
- **Columns:**
    
    - Columns selected in the query are `custid` and `companyname`

- **Predicate:**

    -  The predicate is in the `WHERE` clause
    
    - `country = N'USA'` filters the rows from the `Sales.Customers` table where the country column is equal to 'USA'

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
USE TSQLV6;

WITH
    USACusts
    AS
    (
        SELECT custid, companyname
        FROM Sales.Customers
        WHERE country = N'USA'
    )
SELECT *
FROM USACusts;

USE Northwinds2022TSQLV7;

WITH
    USACusts
    AS
    (
        SELECT CustomerId, CustomerCompanyName
        FROM Sales.[Customer]
        WHERE CustomerCountry = N'USA'
    )
SELECT *
FROM USACusts;